.abu h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Cormorant Garamond", serif;
    font-size: 50px;
    font-weight: 10px;
    margin: 4px 0 0;
    font-weight: 450;
    letter-spacing: 2px;
}

.abu h3 {
    display: flex;
    justify-content: center;
    padding-right: 20vh;
    letter-spacing: 1px;
    padding-left: 20vh;
    font-style: center;
    text-align: center;
    margin-top: 0;
    font-weight: 400;
    align-items: center;
    gap: 3vh;
    color: #2877cb;
    font-size: 25px;

}

.abu h3::before,
.abu h3::after {
    content: "";
    width: 105px;
    height: 2px;
    background-color: #2877cb;

}

.abu p {
    display: flex;
    justify-content: center;
    padding-right: 20vh;
    letter-spacing: 1px;
    padding-left: 20vh;
    text-align: center;
}

.abu {
    margin-top: 4vh;
}

.botao {
    max-width: 300px;
    height: 50px;
    margin-top: 1vh;
    background-color: #2877cb;
    border-radius: 5px;
    transition:
        transform 0.25s ease,
        color 0.25s ease;
    text-decoration: none;
    list-style: none;
}

.botao:hover {
    transform: scale(1.01);
    background-color: #5aaaff;
    transition: 0.3s;
}

.botao-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.secatra {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20vh;
  margin-top: -10vh;
}

.div-secatra {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.secatra p {
  padding-right: 5vh;
  letter-spacing: 1px;
}

.imgatra {
  flex: 1;
}

.imgatra img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(80%);
  box-shadow: 0 10px 30px rgba(26, 58, 68, 0.3);
}